@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

- Mobile: 375px
- Desktop: 1440px

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-size: 1.3125rem;
    line-height: 1.4;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
}

.tt__uppercase {
    text-transform: uppercase;
}


/* Sedans Styles */
.sedans__container {
    background-color: hsl(31, 77%, 52%); 
    color: hsla(0, 0%, 95%, 1);
    padding: 3em 3em;
}
/* Sedans Styles End */

/* SUVS Styles */
.suvs__container {
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 95%, 1);
    padding: 3em 3em;
}
/* SUVS Styles End */

/* Luxury Styles */
.luxury__container {
    background-color:hsl(179, 100%, 13%);
    color: hsla(0, 0%, 95%, 1);
    padding: 3em 3em;
}
/* Luxury Styles End */

/* Primary Color Styles */

.bright-orange {
    color: hsl(31, 77%, 52%);
}

.dark-cyan {
    color:hsl(184, 100%, 22%);
}

.very-dark-cyan {;
    color: hsl(179, 100%, 13%);
}

/* Primary Color Styles End */

/* Neutral Color Styles */

.transparent-white {
    color: hsla(0, 0%, 95%, 1);
}

.very-light-gray {
    color: hsl(0, 0%, 95%);
}

/* Neutral Color Styles End */

/* Font Styles */

.lexenddeca-400-15px {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.bigshoulders-700 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 40px;
}

/* Font Styles End */

/* Frontend Mentor Starter Styles */

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* Frontend Mentor Starter Styles End */

/* Media Queries */
@media screen and (min-width: 700px) {
    .grid-container {
        grid-auto-flow: column;
    }
}
