@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

- Mobile: 375px
- Desktop: 1440px

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 5em auto;
}


.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
}

.tt__uppercase {
    text-transform: uppercase;
}

/* Primary Color Styles */

.bright-orange {
    color: hsl(31, 77%, 52%);
}

.dark-cyan {
    color:hsl(184, 100%, 22%);
}

.very-dark-cyan {;
    color: hsl(179, 100%, 13%);
}

/* Primary Color Styles End */

/* Neutral Color Styles */

.transparent-white {
    color: hsla(0, 0%, 95%, 1);
}

.very-light-gray {
    color: hsl(0, 0%, 95%);
}

/* Neutral Color Styles End */

/* Sedans Styles */
.sedans__container {
    background-color: hsl(31, 77%, 52%); 
    color: hsla(0, 0%, 100%, 1);
    padding: 3em 3.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* Sedans Styles End */

/* SUVS Styles */
.suvs__container {
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 1);
    padding: 3em 3.5em;
}
/* SUVS Styles End */

/* Luxury Styles */
.luxury__container {
    background-color:hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 1);
    padding: 3em 3.5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Luxury Styles End */

/* Button Styles */

.btn {
    background-color:hsl(0, 0%, 95%);
    padding: 12px 27px;
    border-radius: 90px;
    border: none;
    border: solid 2px transparent;
    transition: background-color 0.3s;
}

.btn:hover {
    cursor: pointer;
    border: solid 2px #ffffff;
    color: #ffffff;
    border: solid 2px #ffffff;
    padding: 12px 27px;
  }


.btn--sedans {
    color:hsl(31, 77%, 52%);
}

.btn--suvs {
    color:hsl(184, 100%, 22%);
}

.btn--luxury {
    color:hsl(179, 100%, 13%);
}

.btn--sedans:hover {
    background-color: hsl(31, 77%, 52%);
    color: #ffffff;
    border: 2px solid #ffffff;
    
}

.btn--suvs:hover {
    background-color: hsl(184, 100%, 22%);
    color: #ffffff;
    border: 2px solid #ffffff;  
}

.btn--luxury:hover {
    background-color: hsl(179, 100%, 13%);
    color: #ffffff;
    border: 2px solid #ffffff;   
}


/* Button Styles End */


/* Font Styles */

.lexenddeca-400-15px {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.bigshoulders-700 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 40px;
}

/* Font Styles End */


/* Frontend Mentor Starter Styles */

.attribution { 
    font-size: 11px; text-align: center; 
    padding: 1em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Frontend Mentor Starter Styles End */

/* Media Queries */
@media screen and (min-width: 800px) {
    .container {
        margin-top: 10em;
        margin-bottom: 1em;
    }

    .grid-container {
        grid-auto-flow: column;
    }

    .sedans__container {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    .luxury__container {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .btn {
        margin-top: 5em;
    }
}